.blog-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
  position: relative; /* Απαιτείται για απόλυτη τοποθέτηση του κουμπιού */
  height: 100%; /* Όλες οι κάρτες να έχουν το ίδιο ύψος */
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
  color: #333;
}

.blog-excerpt {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
  margin-top: 10px;
  margin-bottom: 66px;
}

.blog-date {
  font-size: 14px;
  color: gray;
  margin-top: -5px;
  margin-bottom: 10px;
  font-style: italic;
}

.card-body {
  display: block;
}

.btn-primary {
  position: absolute;
  bottom: 15px; /* Τοποθετεί το κουμπί στο κάτω μέρος της κάρτας */
  left: 50%;
  transform: translateX(-50%); /* Κεντράρει το κουμπί */
}
